.calc {
  width: auto;
  border-spacing: 0;
}
.calc tr {
  border-spacing: 0;
}
.calc .lcd {
  width: 100%;
  background: #29292E;
  color: #FFF;
  font-size: 250%;
  margin: 0;
  padding: 5px 10px;
  text-align: right;
  height: 55px;
  overflow: hidden;
}
.calc .lcd.digits13 {  /* fit 13 digits */
  font-size: 150%;
}
.calc .lcd.digits20 {  /* fit 13 digits */
  font-size: 100%;
}

.calc .keypad {

}

.calc .keypad .key {
  background: #DDD;
  color: #333;
  padding: 10px 17px;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
}
.calc .keypad .key.num {
  background: #EEE;
}

.calc .keypad .key.left {
  border-left: 1px solid #777;
}

.calc .keypad .key.orange {
  color: #FFF;
  background: #F5923E; /* orange */
}
