
.Demos .Menu {
  float: left;
  width: 150px;
}

.Demos .Menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Demos .Menu > ul > li {
  padding: 7px 10px;
}

.Demos .Menu > ul > li:hover {
  background-color: #EEE;
}

.Demos .DemoContent {
  margin-left: 150px;
  overflow: hidden;
  padding: 20px;
}

.Demos .demo {
  overflow: hidden;
}
