
.Demos .Menu {
  float: left;
  width: 150px;
}

.Demos .Menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Demos .Menu > ul > li {
  padding: 7px 10px;
}

.Demos .Menu > ul > li:hover {
  background-color: #EEE;
}

.Demos .DemoContent {
  margin-left: 150px;
  overflow: hidden;
  padding: 20px;
}

.Demos .DemoBox {
  border-radius: 10px;
  border: 1px solid #DDD;
  padding: 5px;
  margin-bottom: 10px;
}
.Demos .demo {
  overflow: hidden;
  padding: 10px;
}
.Demos .desc {
  padding: 10px;
}
.Demos pre.hljs {
  background: #EBF5FB;
}
