.RedDot {
  position: relative;
  width: auto;
  margin: 0;
  display: inline-block;
}

.RedDot > .Dot {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -4px;
  margin-right: -4px;
  border-radius: 50%;
  width:  10px;
  height: 10px;
  background: #FF0000;
  color: #FFFFFF;
  transition: 0.3s;
}

.RedDot > .Dot.gone {
  width: 0;
  height: 0;
}

.RedDot > .Dot.WithCount {
  margin-top: -6px;
  margin-right: -6px;
  width:  16px;
  height: 16px;
  text-align: center;
  font-size: 80%;
}
.RedDot > .Dot.WithCount.twoDigits {
  font-size: 70%;
}
